DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

BREVO_USER=your_brevo_email
BREVO_PASS=your_brevo_smtp_key

MAIL_FROM=no-reply@mediko.ph
ADMIN_EMAIL=admin@mediko.ph
ADMIN_CC=manager@mediko.ph,billing@mediko.ph
ADMIN_API_KEY=xxxxxxx
DASHBOARD_JWT_SECRET=xxxxx

ALLOWED_ORIGINS='https://store.mediko.ph,https://mediko.ph'

PORT=3001